// SASS Vendor Imports
// _____________________________________________________________________________

// Bourbon
// http://bourbon.io/
@import "bourbon/bourbon";

// Normalize
// https://necolas.github.io/normalize.css/
@import "normalize/normalize";

// Bitters
// http://bourbon.io/
@import "base/base";


// Basic Styles
// _____________________________________________________________________________

// Text Selection
@include selection {
  background: rgba(0,0,0,.1);
}


// Home Page Styles
// _____________________________________________________________________________

.home {

    body {
        @include transition(background .5s ease-out);
        @include clearfix;
        $em-base: 24px;
        font: 300 24px/29px "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
        background: #4caf50;
        color: #fff;
        margin: 150px 20%;

        &.twitter    { background: #03a9f4; }
        &.github     { background: #607d8b; }
        &.dribbble   { background: #f06292; }
        &.linkedin   { background: #1e88e5; }
        &.blog       { background: #4caf50; }
        &.email      { background: #ef5350; }
    }

    h1, h2 {
        font-size: 1.8em;
        line-height: 1.25em;
        font-weight: 300;
    }

    h1 {
        opacity: .6;
    }

    .services {
        list-style: none;
        padding-top: 2.5em;

        li {
            float: left;

            a {
                @include transition(opacity .5s ease-out);
                color: #fff;
                font-size: 1.2em;
                text-decoration: none;
                display: inline-block;
                padding-right: 30px;
                padding-bottom: 15px;
                opacity: .5;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}


// 404 Error Page Styles
// _____________________________________________________________________________

.error {
    color: #f1f1f1;
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;

    * {
        line-height: 1.2;
        margin: 0;
    }

    body {
        font: 300 24px/29px "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
        display: table-cell;
        vertical-align: middle;
        margin: 2em auto;
        background-attachment: fixed;
        background-image: url('../img/404.gif');
        background-position: 50% 50%;
        background-size: cover;
    }

    h1 {
        color: #ffffff;
        font-size: 1.8em;
        font-weight: 300;
            margin-bottom: 1em;
    }

    p {
        margin: 0 auto;
        width: 40%;
        color: #f1f1f1;
        font-size: 1.3em;
    }
}


// Responsive Shifts
// _____________________________________________________________________________

@media only screen and (max-width: 1250px) {

    .home {

        body {
            margin: 15% 15%;
        }
    }

}

@media only screen and (max-width: 1050px) {

    .home {

        body {
            margin: 10% 10%;
        }
    }

}

@media only screen and (max-width: 925px) {

    .home {

        h2 span {
            display: block;
        }
    }

}

@media only screen and (max-width: 875px) {

    .home {

        .services {
            padding-top: 0.5em;

            li {
                display: block;
                width: 33%;
                padding-bottom: 0.8em;
            }
        }
    }

}

@media only screen and (max-width: 480px) {

    .home {

        body {
            margin: 10% 10%;
            background: #03a9f4;
        }

        .services {
            padding-top: 0.5em;

            li {
                display: block;
                width: 100%;

                a {
                    font-size: 1.4em !important;
                    line-height: 1.2em;
                }
            }
        }
    }

    .error {

        body, p {
            width: 80%;
        }

        h1 {
            font-size: 1.5em;
            margin: 0 0 0.3em;
        }

        p {
            font-size: 1em;
        }
    }
}
